@media (max-width:575px){
    .position{
        left: 45px !important;
        top:185px!important;
        height: 55px;
        width: 225px!important;
    }

    .img-size{
        right: -2px!important;
    }
}