// Main-colors
$very-dark-charcoal:#101011;
$deep-black: #191919;
$black-color: #000000;
$grayish-taupe: #938e8e;
$medium-gray-color: #605d5d;
$white-color: #fff;
$pale-gray: #f3f4f4;
$medium-tan: #c7a17a;
$light-peach: #eacda5;
$golden-yellow: #fb0;


// Transparent-color
$warm-muted-brown-with-slight-transparency:rgba(211, 173, 127, 0.30);
$muted-terracotta-with-slight-transparency: rgba(199, 161, 122, 0.17);