.edit-button{
    background-color: $crimson-color!important;
    border-radius: 45px!important;
    color:$white-color;
    border:none!important;
}

.card{
    border-radius: 25px!important;
}

.section > .heading-color{
    color:$crimson-color;
}

.icon-character{
    color: $crimson-color;
}