@media (max-width:992px){
    .main-text{
        font-size: 125px;
        top:200px;
        transform: translate(-50%, 0%);
    }
}

@media (max-width:578px){
    .main-text{
        font-size: 75px;
        top:100px;
        transform: translate(-50%, 0%);
    }
}